{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Strona główna{% endblock %}

{% block bootstrap5_extra_head %}
    {{ block.super }}

    <style>
        .sidenav {
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #f1f1f1;
        }

    </style>

{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Jesteś zalogowany jako: <b>{{ user }}</b>
    {% endif %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="{% url 'home' %}">Strona główna</a></p>
                {% if not user.is_authenticated %}
                    <p><a href="{% url 'login' %}">Login</a></p>

                    <p><a href="{% url 'register' %}">Rejestracja</a></p>
                {% endif %}
                {% if user.is_authenticated %}
                    <p><a href="{% url 'matches' %}">Moje mecze</a></p>
                    <p><a href="{% url 'stats' %}">Statystyki</a></p>
                    <p><a href="{% url 'exports' %}">Eksport</a></p>
                    <p><a href="{% url 'logout' %}">Wyloguj</a></p>
                {% endif %}
            </div>
            <div class="col-sm-10">
                {% block game_subpage %}
                    Witaj w mojej aplikacji!
                    Jest to miejsce gdzie zapiszesz wyniki dowolnej rozgrywki z Twoim rywalem. Możesz wybierać
                    dyscypliny, zapisywać wyniki spotkań, badać statystyki, zapraszać znajomych a nawet rywalizować o
                    najlepszy wynik wśród znajomych!

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

